body {
	background-image: url("images_for_website/grey-bgnd.jpg");
	background-repeat: repeat-x;
}

#navigation {
 margin: 0;
 padding: 0 1em;
 background: black;
 height: 3em;
 list-style: none;
}

#navigation > li {
 float: left;
 height: 100%;
 margin-right: 0.5em;
 padding: 0 1em;
}

#navigation > li > a {
 float: left;
 height: 100%;
 color: #c60;
 text-decoration: none;
 line-height: 3;
 font-weight: bold;
 text-transform: uppercase;
}

#navigation > li > a:hover {
 color: #D3D3D3;
 text-decoration: underline;
}
